raspmatic_multiple_devices.flow
[
    {
        "id": "e382511f.dc91b",
        "type": "tab",
        "label": "RaspMatic Multiple Devices",
        "disabled": false,
        "info": ""
    },
    {
        "id": "780be717.bfe878",
        "type": "debug",
        "z": "e382511f.dc91b",
        "name": "MULTIPLE DEVICES UPDATE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "a5906e72.78eec",
        "type": "comment",
        "z": "e382511f.dc91b",
        "name": "RaspMatic Multiple Device Datapoints to Domoticz Devices",
        "info": "\nGet all HomeMatic (HmIP) datapoints from the CCU running on the RaspMatic system.\n\nSelect datapoint(s) and update the assigned Domoticz device(s).\n\nExample:\nHmIP Device:\nThermostat HmIP-eTRV-2\nDatapoint:\ndatapoint ise_id=\"1567\" name=\"HmIP-RF.000A18A9A64DAC:1.ACTUAL_TEMPERATURE\" operations=\"5\" timestamp=\"1583752872\" valueunit=\"\" valuetype=\"4\" value=\"22.800000\" type=\"ACTUAL_TEMPERATURE\"\n\nDomoticz Device:\nIDX=113,Hardware=VirtualDevices,Name=MakeLab Temperature,Type=Temp,SubType=LaCrosse TX3\n\nHTTP Reponse:\n{\t\"status\" : \"OK\",\t\"title\" : \"Update Device\"}\n",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "dab01659.d14178",
        "type": "inject",
        "z": "e382511f.dc91b",
        "name": "Init",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "df49cf7.0f3403"
            ]
        ]
    },
    {
        "id": "d9b3516.92b8cb",
        "type": "change",
        "z": "e382511f.dc91b",
        "name": "Set Devices",
        "rules": [
            {
                "t": "set",
                "p": "devices",
                "pt": "flow",
                "to": "[{\"datapoint\":1567,\"type\":\"ACTUAL_TEMPERATURE\",\"idx\":113},{\"datapoint\":1576,\"type\":\"LEVEL\",\"idx\":114},{\"datapoint\":1584,\"type\":\"SET_POINT_TEMPERATURE\",\"idx\":115}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "df49cf7.0f3403",
        "type": "change",
        "z": "e382511f.dc91b",
        "name": "Set CCU IP",
        "rules": [
            {
                "t": "set",
                "p": "ccuip",
                "pt": "flow",
                "to": "CCU-IP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "7a38ebaa.d41464"
            ]
        ]
    },
    {
        "id": "7a38ebaa.d41464",
        "type": "change",
        "z": "e382511f.dc91b",
        "name": "Set DOM IP",
        "rules": [
            {
                "t": "set",
                "p": "domip",
                "pt": "flow",
                "to": "DOM-IP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "d9b3516.92b8cb"
            ]
        ]
    },
    {
        "id": "1fc40c0.fa2baf4",
        "type": "inject",
        "z": "e382511f.dc91b",
        "name": "Request Statelist",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "b588dff5.13e59"
            ]
        ]
    },
    {
        "id": "b588dff5.13e59",
        "type": "function",
        "z": "e382511f.dc91b",
        "name": "Set HTTP XML-API Request",
        "func": "\nmsg.url = \"http://\" + flow.get(\"ccuip\") + \"/config/xmlapi/statelist.cgi\";\nnode.warn(msg.url);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "18644b4d.3d48d5"
            ]
        ]
    },
    {
        "id": "18644b4d.3d48d5",
        "type": "http request",
        "z": "e382511f.dc91b",
        "name": "Send HTTP XML-API Request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "65f5ac04.d8d274"
            ]
        ]
    },
    {
        "id": "65f5ac04.d8d274",
        "type": "function",
        "z": "e382511f.dc91b",
        "name": "Correct Datapoints",
        "func": "// Correct strings in the datapoints XML response.\nvar statelist = msg.payload;\n\n// \"\"\"\" to be replaced to \"\"\nstatelist.replace(\"\\\"\\\"\",\"\");\n// Assign the corrected statelist\nmsg.payload = statelist;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "23b76e34.015662"
            ]
        ]
    },
    {
        "id": "23b76e34.015662",
        "type": "xml",
        "z": "e382511f.dc91b",
        "name": "Convert XML JavaScript Object",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 930,
        "y": 200,
        "wires": [
            [
                "c35d4d8a.40bae"
            ]
        ]
    },
    {
        "id": "c35d4d8a.40bae",
        "type": "function",
        "z": "e382511f.dc91b",
        "name": "Get All Devices and Datapoints",
        "func": "/*\n* return a json array with devices used for the ui_dropdown\n* set flow context \"datapoints\" for the ui_template to display the datapoints for the selected device id\nNotes: \n* Example device entry: deviceobj[\"Briefkasten Status\"]=2530;\n* Example datapoint entry: device:\"2530\",datapoint:{\"id\":\"2532\",\"type\":\"CONFIG_PENDING\",\"value\":\"false\",\"name\":\"HmIP-RF.0000DA498D5859:0.CONFIG_PENDING\"}\n* the second array below is not used as replaced by the flow context \"datapoints\" - but is kept in case any enhancements planned\n*/\n\nconst DEBUG = false;\n// get the statelist from xml into json format\nstatelist = msg.payload.stateList;\n// Get the statelist with the devices\nif (DEBUG) node.warn(statelist);\n// Get the devices array\ndevices = statelist.device\nif (DEBUG) node.warn(devices.length);\narrdevices = [];\narrdatapoints = [];\n// Loop over the devices\ndevices.forEach(function(device) {\n    // node.warn(device);\n    devicename = device.$.name;\n    deviceise_id = device.$.ise_id;\n    deviceobj = {}\n    deviceobj[devicename]=deviceise_id;\n    arrdevices.push(deviceobj);\n    //\n    channels = device.channel;\n    if (DEBUG) node.warn(\"Channel Name:\" + device.$.name);\n    channels.forEach(function(channel){\n        channeldatapoints = channel.datapoint;\n        if (channeldatapoints !== undefined) {\n            // node.warn(\"Channel datapoints: \" + channeldatapoints);\n            channeldatapoints.forEach(function(datapoint){\n                //node.warn(datapoint);\n                obj = datapoint.$;\n                if (obj !== undefined) {\n                    if (DEBUG) node.warn(devicename + \": datapoints=\" + obj.ise_id + \":\" + obj.type + \"=\" + obj.value);\n                    dpobj = {\n                        \"device\":deviceise_id,\n                        \"datapoint\": {\n                            \"id\":obj.ise_id,\"type\":obj.type,\"value\":obj.value,\"name\":obj.name\n                        }\n                    };\n                    arrdatapoints.push(dpobj);\n                    // dpstring = \"device:\"+devicename+\", dp:\"+obj.ise_id+\",type:\"+obj.type+\",value:\"+obj.value;\n                    // arrdatapoints.push(dpstring);\n                }\n            });\n        }\n    });\n});\nif (DEBUG) node.warn(arrdatapoints.length);\nflow.set(\"datapoints\",arrdatapoints);\nif (DEBUG) node.warn(flow.get(\"datapoints\"));\n\nmsgdevices = {};\nmsgdevices.options = arrdevices;\nif (DEBUG) node.warn(msgdevices.options)\n\nmsgdatapoints = {};\nmsgdatapoints.payload = arrdatapoints;\n\nreturn [msgdevices,msgdatapoints];\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1210,
        "y": 200,
        "wires": [
            [
                "8ebdefbd.2d866"
            ]
        ]
    },
    {
        "id": "8ebdefbd.2d866",
        "type": "function",
        "z": "e382511f.dc91b",
        "name": "Get Devices and Set Value",
        "func": "/*\nThe purpose of this function is to set the value for multiple domoticz devices.\nThis function does not return a value as msg are send during device json array loop.\n*/\nconst DEBUG = true;\n// get all the datapoints by device\n// device:\"2530\",datapoint:{\"id\":\"2532\",\"type\":\"CONFIG_PENDING\",\"value\":\"false\",\"name\":\"HmIP-RF.0000DA498D5859:0.CONFIG_PENDING\"}\ndatapoints = flow.get(\"datapoints\");\n// devices: [{\"datapoint\": 1567,\"type\": \"ACTUAL_TEMPERATURE\",\"idx\": 113}, ...]\ndevices = flow.get(\"devices\");\n//\ndevices.forEach(function(device){\n    datapoints.forEach(function(datapoint){\n        if (device.datapoint == datapoint.datapoint.id) {\n            idx = device.idx;\n            value = datapoint.datapoint.value;\n            if (idx == \"114\") value = value * 100;\n            msg.url = \"http://\" + flow.get(\"domip\") + \":8080/json.htm?type=command&param=udevice&idx=\" + idx + \"&nvalue=0&svalue=\" + value;\n            node.send(msg);\n            if (DEBUG) node.warn(\"URL: \" + msg.url);\n        }    \n    });\n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "965bd79d.12ab58"
            ]
        ]
    },
    {
        "id": "965bd79d.12ab58",
        "type": "http request",
        "z": "e382511f.dc91b",
        "name": "Send HTTP API Request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 280,
        "wires": [
            [
                "780be717.bfe878"
            ]
        ]
    },
    {
        "id": "ea9c4b1a.800178",
        "type": "comment",
        "z": "e382511f.dc91b",
        "name": "RaspMatic Tasks",
        "info": "",
        "x": 140,
        "y": 160,
        "wires": []
    },
    {
        "id": "8741dd45.89c68",
        "type": "comment",
        "z": "e382511f.dc91b",
        "name": "Domoticz Tasks",
        "info": "",
        "x": 140,
        "y": 240,
        "wires": []
    }
]