volumio_control.flow
[
    {
        "id": "ac682f6e.96aed8",
        "type": "tab",
        "label": "Volumio Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad1b3441.087d28",
        "type": "inject",
        "z": "ac682f6e.96aed8",
        "name": "Make Volumio Status Request (NOT USED)",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8e2ad04b.794528",
        "type": "http request",
        "z": "ac682f6e.96aed8",
        "name": "REST Request Volumio Get Status",
        "method": "GET",
        "ret": "txt",
        "url": "volumio.local/api/v1/getstate",
        "tls": "",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "755e3d15.e91c9c"
            ]
        ]
    },
    {
        "id": "fb68fdb6.72f6e8",
        "type": "comment",
        "z": "ac682f6e.96aed8",
        "name": "Volumio Control via Domoticz",
        "info": "To basic control Volumio, the Open Audiophile Music Player, via Domoticz Dashboard.\nThe main usage is listening to web radio and capture favorite songs.\n\nThe Volumio Control features:\n\n•\tSet status Play or Stop\n•\tShow the title of the current song playing in real time\n•\tSet Volume 0 – 100 or switch On | Off\n•\tBookmark the current song to the favorites list\n•\tIndicate status OFF, PLAY, STOP\n•\tDomoticz Dashboard with dedicated Room to control Volumio\n\nHints:\nError: getaddrinfo ENOTFOUND volumio.local volumio.local:80\"\nChange the url to the ip.\n",
        "x": 160,
        "y": 20,
        "wires": []
    },
    {
        "id": "ccf27712.484248",
        "type": "comment",
        "z": "ac682f6e.96aed8",
        "name": "Volumio to update Domoticz \"Volumio Current Song\"  (idx=144) and \"Volumio Status\" (idx=151)",
        "info": "Make Volumio status request using the Volumio REST API.\nCheck if Volumio is playing and update the Domoticz Current Song device.\nIf Volumio status is stop, display message \"Volumio not playing\".\n",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "7d749606.7bf4b",
        "type": "mqtt in",
        "z": "ac682f6e.96aed8",
        "name": "Listen to Domoticz MQTT Messages",
        "topic": "domoticz/out",
        "qos": "2",
        "broker": "f7c80436.a43f2",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "ed979ac3.7df488"
            ]
        ]
    },
    {
        "id": "ed979ac3.7df488",
        "type": "json",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz MQTT Message to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 500,
        "wires": [
            [
                "6ce24f79.119b38"
            ]
        ]
    },
    {
        "id": "69a0b87f.3e6d4",
        "type": "debug",
        "z": "ac682f6e.96aed8",
        "name": "Debug Domoticz MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "c46b380f.3297d",
        "type": "comment",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz Switch \"Volumio Play\"  (idx=149) to set \"Volumio Status\" (idx=151) Play or Stop",
        "info": "Listen to Domoticz MQTT messages.\nIf idx=149 (Device Volumio Play) then trigger action depending nvalue of the device.\nnvalue=1 set Volumio status Play\nnvalue=0 set Volumio status Stop\n\nExtract of the Domoticz message for idx=149:\n{\"dtype\":\"Light/Switch\",\"idx\":149,\"name\":\"Volumio Play\",\"nvalue\":0,\"stype\":\"Switch\",\"svalue1\":\"0\",\"switchType\":\"On/Off\",\"unit\":1}\n",
        "x": 340,
        "y": 460,
        "wires": []
    },
    {
        "id": "6ce24f79.119b38",
        "type": "switch",
        "z": "ac682f6e.96aed8",
        "name": "Select Domoticz Play Device (idx=149)",
        "property": "payload.idx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "149",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "d24ec9bf.645a98"
            ]
        ]
    },
    {
        "id": "d24ec9bf.645a98",
        "type": "switch",
        "z": "ac682f6e.96aed8",
        "name": "Select Status Play or Stop",
        "property": "payload.nvalue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "827e0ead.d3b668"
            ],
            [
                "6cd32356.9952ec"
            ]
        ]
    },
    {
        "id": "1513a3c5.d835cc",
        "type": "mqtt in",
        "z": "ac682f6e.96aed8",
        "name": "Listen to Domoticz MQTT Messages",
        "topic": "domoticz/out",
        "qos": "2",
        "broker": "f7c80436.a43f2",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "53650d19.c42384"
            ]
        ]
    },
    {
        "id": "53650d19.c42384",
        "type": "json",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz MQTT Message to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 740,
        "wires": [
            [
                "fd45ba20.91d3e"
            ]
        ]
    },
    {
        "id": "ef005b88.917de",
        "type": "debug",
        "z": "ac682f6e.96aed8",
        "name": "Debug Domoticz MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1030,
        "y": 900,
        "wires": []
    },
    {
        "id": "2f6c214a.31469e",
        "type": "comment",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz Dimmer \"Volumio Volume\" (idx=148) to set Volumio Volume",
        "info": "Listen to Domoticz MQTT messages.\nIf idx=148 (Device Volumio Volume) then trigger action depending nvalue of the device.\n\nDimmer switched to Off\nnvalue=0 set Volumio volume to 0\n\nDimmer switched to on\nnvalue=1 set Volumio volume to the property Level\n\nDimmer value changed\nnvalue=2 set Volumio volume to the property Level\n\nExtract of the Domoticz message for idx=148:\nDimmer change Level\nSet level to 68 - nvalue=2, Level=68, svalue1=68\n{\"Battery\":255,\"Level\":68,\"RSSI\":12,\"description\":\"\",\"dtype\":\"Light/Switch\",\"id\":\"000140E4\",\"idx\":148,\"name\":\"Volumio Volume\",\"nvalue\":2,\"stype\":\"Switch\",\"svalue1\":\"68\",\"switchType\":\"Dimmer\",\"unit\":1}\nSet level to 47 - nvalue=2, Level=47, svalue1=47\n{\"Battery\":255,\"Level\":47,\"RSSI\":12,\"description\":\"\",\"dtype\":\"Light/Switch\",\"id\":\"000140E4\",\"idx\":148,\"name\":\"Volumio Volume\",\"nvalue\":2,\"stype\":\"Switch\",\"svalue1\":\"47\",\"switchType\":\"Dimmer\",\"unit\":1}\n\nDimmer Switch Off - nvalue=0\n{\"Battery\":255,\"Level\":68,\"RSSI\":12,\"description\":\"\",\"dtype\":\"Light/Switch\",\"id\":\"000140E4\",\"idx\":148,\"name\":\"Volumio Volume\",\"nvalue\":0,\"stype\":\"Switch\",\"svalue1\":\"68\",\"switchType\":\"Dimmer\",\"unit\":1}\n\nDimmer Switch On - nvalue=1\n{\"Battery\":255,\"Level\":68,\"RSSI\":12,\"description\":\"\",\"dtype\":\"Light/Switch\",\"id\":\"000140E4\",\"idx\":148,\"name\":\"Volumio Volume\",\"nvalue\":1,\"stype\":\"Switch\",\"svalue1\":\"68\",\"switchType\":\"Dimmer\",\"unit\":1}\n",
        "x": 290,
        "y": 700,
        "wires": []
    },
    {
        "id": "fd45ba20.91d3e",
        "type": "switch",
        "z": "ac682f6e.96aed8",
        "name": "Select Domoticz Volume Device (idx=148)",
        "property": "payload.idx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "148",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "9a5b9cfe.ec4b88"
            ]
        ]
    },
    {
        "id": "233db98d.ea7ed6",
        "type": "http request",
        "z": "ac682f6e.96aed8",
        "name": "REST Request Volumio Set Volume",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1060,
        "y": 860,
        "wires": [
            [
                "ef005b88.917de"
            ]
        ]
    },
    {
        "id": "a7504288.2c9598",
        "type": "change",
        "z": "ac682f6e.96aed8",
        "name": "Set Volume to Level 0-100",
        "rules": [
            {
                "t": "move",
                "p": "payload.Level",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 860,
        "wires": [
            [
                "bdbe47ab.66c978",
                "7cfb3e2a.ad1a28"
            ]
        ]
    },
    {
        "id": "9a5b9cfe.ec4b88",
        "type": "switch",
        "z": "ac682f6e.96aed8",
        "name": "Switch depending Domoticz nvalue",
        "property": "payload.nvalue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 220,
        "y": 860,
        "wires": [
            [
                "6a92e7a4.db838"
            ],
            [
                "a7504288.2c9598"
            ],
            [
                "a7504288.2c9598"
            ]
        ]
    },
    {
        "id": "6a92e7a4.db838",
        "type": "change",
        "z": "ac682f6e.96aed8",
        "name": "Set Volume to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 820,
        "wires": [
            [
                "bdbe47ab.66c978",
                "7cfb3e2a.ad1a28"
            ]
        ]
    },
    {
        "id": "355499a3.46b17e",
        "type": "function",
        "z": "ac682f6e.96aed8",
        "name": "Set Domoticz MQTT Volumio Status",
        "func": "// Handling Volumio HTTP Response\n// Error: The HTTP message is a string, i.e. \"Error: getaddrinfo ENOTFOUND volumio.local volumio.local:80\"\n// OK: The HTTP Message is parsed as a JSON object, which contains status play or stop\n\n// Global context are set:\n// flow.set(\"currentsong\", \"\");\n// NOT USED but an option:\n// flow.set(\"showartist\", 0); // set to 1 to show the artist in the current song\n\n// Return two messages:\n// msgvolumiostatus = Payload to update domoticz device \"Volumio Status\", i.e. 0=Off,1=play,2=stop\n// msgvolumiocurrentsong = Payload to update domoticz device \"Volumio Current Song\" displaying the title\n\n// Create Domoticz MQTT command to update the Domoticz Alert Device \"Volumio Status\" (idx=151)\nvar idxvolumiostatus = 151;\nvar idxvolumiocurrentsong = 144;\n\n// Convert the msg payload  to a string to be able to determine if contains ENOTFOUND or status\nvar msgstring = msg.payload;\n\n// Domoticz Command Message \"Volumio Status\"\nvar msgvolumiostatus = {};\n\n// Domoticz Command Message \"Volumio Current Song\"\nvar msgvolumiocurrentsong = {};\nvar currentsong = \"\";\n\n// Create the Domoticz message payload.\n// Reference:\n// command=udevice, idx=IDX, nvalue=LEVEL, svalue=TEXT\n// Level = (0=gray, 1=green, 2=yellow, 3=orange, 4=red)\n// TEXT = Text you want to display\n\nif (msg.payload.status == \"error\") {\n    // Set the alert level to 4 with svalue displaying message \"OFF\"\n    msgvolumiostatus.payload = {\"command\": \"udevice\", \"idx\": idxvolumiostatus, \"nvalue\":4, \"svalue\": \"OFF\"};\n    msgvolumiocurrentsong.payload = {};\n    flow.set(\"currentsong\", \"\");\n}\n    \nif (msg.payload.status == \"play\") {\n    // Set the alert level to 1 with svalue displaying message \"PLAY\"\n    msgvolumiostatus.payload = {\"command\": \"udevice\", \"idx\": idxvolumiostatus, \"nvalue\":1, \"svalue\": \"PLAY\"};\n    // Build the current song title - if not service webradio, then add artist\n    currentsong = msg.payload.title;\n    if (msg.payload.service !== \"webradio\") {\n        currentsong = msg.payload.artist + \" ~ \" + msg.payload.title;\n    }\n    msgvolumiocurrentsong.payload = {\"command\": \"udevice\", \"idx\": idxvolumiocurrentsong, \"svalue\": currentsong};\n    flow.set(\"currentsong\", currentsong);\n}\n\nif (msg.payload.status == \"stop\") {\n    // Set the alert level to 2 with svalue displaying message \"STOP\"\n    msgvolumiostatus.payload = {\"command\": \"udevice\", \"idx\": idxvolumiostatus, \"nvalue\":2, \"svalue\": \"STOP\"};\n    msgvolumiocurrentsong.payload = {};\n    flow.set(\"currentsong\", \"\");\n}\n\n// node.warn(flow.get(\"currentsong\"));\n\nreturn [msgvolumiostatus,msgvolumiocurrentsong];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "9b96f84.4310f88"
            ],
            [
                "f7feca01.e52118"
            ]
        ]
    },
    {
        "id": "1fd7fa83.2b5d6d",
        "type": "mqtt out",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz Update Volumio Status (idx=151)",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1090,
        "y": 280,
        "wires": []
    },
    {
        "id": "9b96f84.4310f88",
        "type": "rbe",
        "z": "ac682f6e.96aed8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 810,
        "y": 280,
        "wires": [
            [
                "1fd7fa83.2b5d6d",
                "839b9bc6.3c1138",
                "4a368ec5.44cc5"
            ]
        ]
    },
    {
        "id": "976da084.1ea958",
        "type": "mqtt out",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz Update Volumio Current Song (idx=144)",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "839b9bc6.3c1138",
        "type": "debug",
        "z": "ac682f6e.96aed8",
        "name": "Debug Volumio Status",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "755e3d15.e91c9c",
        "type": "switch",
        "z": "ac682f6e.96aed8",
        "name": "Check Volumio REST Request Response",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Error",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 280,
        "wires": [
            [
                "58a12c98.05430c"
            ],
            [
                "9ded57c7.f82048"
            ]
        ]
    },
    {
        "id": "9ded57c7.f82048",
        "type": "json",
        "z": "ac682f6e.96aed8",
        "name": "Volumio Response to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "355499a3.46b17e"
            ]
        ]
    },
    {
        "id": "f7feca01.e52118",
        "type": "rbe",
        "z": "ac682f6e.96aed8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 810,
        "y": 340,
        "wires": [
            [
                "976da084.1ea958",
                "839b9bc6.3c1138",
                "24b8a5b.511ff5a"
            ]
        ]
    },
    {
        "id": "58a12c98.05430c",
        "type": "change",
        "z": "ac682f6e.96aed8",
        "name": "Set Volumio Status to Error",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"error\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "355499a3.46b17e"
            ]
        ]
    },
    {
        "id": "bdbe47ab.66c978",
        "type": "change",
        "z": "ac682f6e.96aed8",
        "name": "Set Volumio Volume REST Request URL",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$join(['volumio.local/api/v1/commands/?cmd=volume&volume=',$string(msg.payload)])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 820,
        "wires": [
            [
                "233db98d.ea7ed6"
            ]
        ]
    },
    {
        "id": "cb893fd5.604dd",
        "type": "comment",
        "z": "ac682f6e.96aed8",
        "name": "0=OFF,1=Play (ON),2=Stop",
        "info": "",
        "x": 200,
        "y": 900,
        "wires": []
    },
    {
        "id": "19201198.b1fe2e",
        "type": "mqtt in",
        "z": "ac682f6e.96aed8",
        "name": "Listen to Domoticz MQTT Messages",
        "topic": "domoticz/out",
        "qos": "2",
        "broker": "f7c80436.a43f2",
        "x": 180,
        "y": 1020,
        "wires": [
            [
                "4cd1945d.772d6c"
            ]
        ]
    },
    {
        "id": "4cd1945d.772d6c",
        "type": "json",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz MQTT Message to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 1020,
        "wires": [
            [
                "b1c80dbe.43648"
            ]
        ]
    },
    {
        "id": "fd818e7.75c9df",
        "type": "comment",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz Switch \"Volumio Bookmark\" (idx=145) to set \"Volumio Favorites\" (idx=146)",
        "info": "Listen to Domoticz MQTT messages.\nIf idx=145 (Device Volumio Bookmark) then set text of the device idx=146 (Volumio Favorites).\n\n",
        "x": 330,
        "y": 980,
        "wires": []
    },
    {
        "id": "b1c80dbe.43648",
        "type": "switch",
        "z": "ac682f6e.96aed8",
        "name": "Select Domoticz Bookmark Device (idx=145)",
        "property": "payload.idx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "145",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 1080,
        "wires": [
            [
                "28824d32.08643a"
            ]
        ]
    },
    {
        "id": "a50a8e68.df26e8",
        "type": "function",
        "z": "ac682f6e.96aed8",
        "name": "Set Domoticz MQTT payload Volumio Favorites",
        "func": "// Bookmark the current song playing\n// The flow context \"currentsong\" is used, which is set when status = play\nvar idxvolumiobookmark = 145;       // Bookmark switch which is set back to OFF (navlue=0)\nvar idxvolumiofavorites = 146;      // Text device which text is set using the flow context current song\n\n// Convert the msg payload  to a string to be able to determine if contains ENOTFOUND or status\nvar msgstring = msg.payload;\n\n// Domoticz Command Message \"Volumio Bookmark\"\nvar msgvolumiobookmark = {};\n\n// Domoticz Command Message \"Volumio Favorites\"\nvar msgvolumiofavorites = {};\n\n// Get the current song from the flow context current song\nvar currentsong = flow.get(\"currentsong\");\n\n// Check if the current song has content\nif (currentsong !== \"\") {\n    // Reset the bookmark switch\n    msgvolumiobookmark.payload = {\"command\": \"switchlight\", \"idx\": idxvolumiobookmark, \"switchcmd\": \"Off\"};\n\n    // Domoticz Command Message \"Volumio Favorites\"\n    msgvolumiofavorites.payload = {\"command\": \"udevice\", \"idx\": idxvolumiofavorites, \"nvalue\":0, \"svalue\": currentsong};\n}\n\nreturn [msgvolumiobookmark,msgvolumiofavorites];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 460,
        "y": 1180,
        "wires": [
            [
                "571b2421.a962c4"
            ],
            [
                "59b6dbac.989b34"
            ]
        ]
    },
    {
        "id": "28824d32.08643a",
        "type": "switch",
        "z": "ac682f6e.96aed8",
        "name": "Switch depending Domoticz nvalue",
        "property": "payload.nvalue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 1120,
        "wires": [
            [],
            [
                "a50a8e68.df26e8"
            ]
        ]
    },
    {
        "id": "a4cfff10.29497",
        "type": "debug",
        "z": "ac682f6e.96aed8",
        "name": "Debug Domoticz MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1050,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5174b3f6.1f4eac",
        "type": "comment",
        "z": "ac682f6e.96aed8",
        "name": "0=OFF,1=ON",
        "info": "",
        "x": 150,
        "y": 1160,
        "wires": []
    },
    {
        "id": "59b6dbac.989b34",
        "type": "rbe",
        "z": "ac682f6e.96aed8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 770,
        "y": 1200,
        "wires": [
            [
                "d99c4663.b1d208",
                "a4cfff10.29497"
            ]
        ]
    },
    {
        "id": "d99c4663.b1d208",
        "type": "mqtt out",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz Update Volumio Favorites (idx=146)",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1100,
        "y": 1200,
        "wires": []
    },
    {
        "id": "571b2421.a962c4",
        "type": "rbe",
        "z": "ac682f6e.96aed8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 770,
        "y": 1140,
        "wires": [
            [
                "362dc19e.f277be",
                "a4cfff10.29497"
            ]
        ]
    },
    {
        "id": "362dc19e.f277be",
        "type": "mqtt out",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz Reset Volumio Bookmark (idx=145)",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1090,
        "y": 1140,
        "wires": []
    },
    {
        "id": "24b8a5b.511ff5a",
        "type": "mqtt out",
        "z": "ac682f6e.96aed8",
        "name": "Update Volumio Current Song",
        "topic": "volumiocontrol/currentsong",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "4a368ec5.44cc5",
        "type": "mqtt out",
        "z": "ac682f6e.96aed8",
        "name": "Update Volumio Status",
        "topic": "volumiocontrol/status",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "7cfb3e2a.ad1a28",
        "type": "mqtt out",
        "z": "ac682f6e.96aed8",
        "name": "Update Volumio Volume",
        "topic": "volumiocontrol/volume",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "8ccbe565.6947d8",
        "type": "mqtt out",
        "z": "ac682f6e.96aed8",
        "name": "Update Volumio Status",
        "topic": "volumiocontrol/status",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1020,
        "y": 480,
        "wires": []
    },
    {
        "id": "827e0ead.d3b668",
        "type": "change",
        "z": "ac682f6e.96aed8",
        "name": "Set Status Play",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "play",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 540,
        "wires": [
            [
                "6a15c492.7c6d2c",
                "8ccbe565.6947d8"
            ]
        ]
    },
    {
        "id": "6cd32356.9952ec",
        "type": "change",
        "z": "ac682f6e.96aed8",
        "name": "Set Status Stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 580,
        "wires": [
            [
                "6a15c492.7c6d2c",
                "8ccbe565.6947d8"
            ]
        ]
    },
    {
        "id": "6a15c492.7c6d2c",
        "type": "change",
        "z": "ac682f6e.96aed8",
        "name": "Set Volumio Status REST Request URL",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$join(['volumio.local/api/v1/commands/?cmd=',$string(msg.payload)])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 540,
        "wires": [
            [
                "476caab9.dd2024"
            ]
        ]
    },
    {
        "id": "476caab9.dd2024",
        "type": "http request",
        "z": "ac682f6e.96aed8",
        "name": "REST Request Volumio Set Status",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1060,
        "y": 600,
        "wires": [
            [
                "69a0b87f.3e6d4"
            ]
        ]
    },
    {
        "id": "2e38ec69.bf5dfc",
        "type": "file",
        "z": "ac682f6e.96aed8",
        "name": "Volumio Save Favorite to File",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1040,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "aeb8c26e.916a4",
        "type": "change",
        "z": "ac682f6e.96aed8",
        "name": "Volumio Set Bookmark Filename",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.svalue1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$replace(payload, \" \", \" \")\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "$join(['/home/pi/music/',$string(msg.payload)])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1360,
        "wires": [
            [
                "2e38ec69.bf5dfc"
            ]
        ]
    },
    {
        "id": "cc2c9efa.cd2b78",
        "type": "mqtt in",
        "z": "ac682f6e.96aed8",
        "name": "Listen to Domoticz MQTT Messages",
        "topic": "domoticz/out",
        "qos": "2",
        "broker": "f7c80436.a43f2",
        "x": 180,
        "y": 1300,
        "wires": [
            [
                "93131bfb.ce7498"
            ]
        ]
    },
    {
        "id": "93131bfb.ce7498",
        "type": "json",
        "z": "ac682f6e.96aed8",
        "name": "Domoticz MQTT Message to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 1300,
        "wires": [
            [
                "463cad52.50d1d4"
            ]
        ]
    },
    {
        "id": "463cad52.50d1d4",
        "type": "switch",
        "z": "ac682f6e.96aed8",
        "name": "Select Domoticz Bookmark Device (idx=146)",
        "property": "payload.idx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "146",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 1360,
        "wires": [
            [
                "aeb8c26e.916a4"
            ]
        ]
    },
    {
        "id": "d766706b.5dbfb8",
        "type": "comment",
        "z": "ac682f6e.96aed8",
        "name": "Save the bookmarked song to file",
        "info": "in folder:\n/home/pi/music\n\nProcess:\nListen to Domoticz msg with idx 146\nSet the filename from the Domoticz msg payloda property svalue 1\n(msg.payload.svalue1)\nSet the msg.filename\nSave the file\n",
        "x": 170,
        "y": 1260,
        "wires": []
    },
    {
        "id": "a7d76400.ffa03",
        "type": "ping",
        "z": "ac682f6e.96aed8",
        "name": "Ping Volumio Server Response",
        "host": "volumio.local",
        "timer": "5",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "1b98b8f.9183ac7"
            ]
        ]
    },
    {
        "id": "1b98b8f.9183ac7",
        "type": "switch",
        "z": "ac682f6e.96aed8",
        "name": "Switch Volumio Return Response",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "58a12c98.05430c"
            ],
            [
                "8e2ad04b.794528"
            ]
        ]
    },
    {
        "id": "f7c80436.a43f2",
        "type": "mqtt-broker",
        "z": "",
        "name": "Domoticz MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]