scripts/volumio-control-refresh.flow
[
    {
        "id": "1273bcc9.d90613",
        "type": "tab",
        "label": "Volumio Domoticz Update",
        "disabled": true,
        "info": ""
    },
    {
        "id": "48b5bd35.d81d64",
        "type": "inject",
        "z": "1273bcc9.d90613",
        "name": "Make Volumio Status Request (NOT USED)",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b11c2afe.404e38",
        "type": "http request",
        "z": "1273bcc9.d90613",
        "name": "REST Request Volumio Get Status",
        "method": "GET",
        "ret": "txt",
        "url": "volumio.local/api/v1/getstate",
        "tls": "",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "c25e5a15.ddd618"
            ]
        ]
    },
    {
        "id": "8b1d779e.a99658",
        "type": "comment",
        "z": "1273bcc9.d90613",
        "name": "Volumio Control via Domoticz",
        "info": "To basic control Volumio, the Open Audiophile Music Player, via Domoticz Dashboard.\nThe main usage is listening to web radio and capture favorite songs.\n\nThe Volumio Control features:\n\n•\tSet status Play or Stop\n•\tShow the title of the current song playing in real time\n•\tSet Volume 0 – 100 or switch On | Off\n•\tBookmark the current song to the favorites list\n•\tIndicate status OFF, PLAY, STOP\n•\tDomoticz Dashboard with dedicated Room to control Volumio\n\nHints:\nError: getaddrinfo ENOTFOUND volumio.local volumio.local:80\"\nChange the url to the ip.\n",
        "x": 140,
        "y": 20,
        "wires": []
    },
    {
        "id": "57329dd4.049a14",
        "type": "comment",
        "z": "1273bcc9.d90613",
        "name": "Volumio update Domoticz \"Volumio Current Song\"  (idx=144) and \"Volumio Status\" (idx=151)",
        "info": "Make Volumio status request using the Volumio REST API.\nCheck if Volumio is playing and update the Domoticz Current Song device.\nIf Volumio status is stop, display message \"Volumio not playing\".\n",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "1a1fbb93.3b0694",
        "type": "function",
        "z": "1273bcc9.d90613",
        "name": "Set Domoticz MQTT Volumio Status",
        "func": "// Handling Volumio HTTP Response\n// Error: The HTTP message is a string, i.e. \"Error: getaddrinfo ENOTFOUND volumio.local volumio.local:80\"\n// OK: The HTTP Message is parsed as a JSON object, which contains status play or stop\n\n// Global context are set:\n// flow.set(\"currentsong\", \"\");\n// NOT USED but an option:\n// flow.set(\"showartist\", 0); // set to 1 to show the artist in the current song\n\n// Return two messages:\n// msgvolumiostatus = Payload to update domoticz device \"Volumio Status\", i.e. 0=Off,1=play,2=stop\n// msgvolumiocurrentsong = Payload to update domoticz device \"Volumio Current Song\" displaying the title\n\n// Create Domoticz MQTT command to update the Domoticz Alert Device \"Volumio Status\" (idx=151)\nvar idxvolumiostatus = 151;\nvar idxvolumiocurrentsong = 144;\n\n// Convert the msg payload  to a string to be able to determine if contains ENOTFOUND or status\nvar msgstring = msg.payload;\n\n// Domoticz Command Message \"Volumio Status\"\nvar msgvolumiostatus = {};\n\n// Domoticz Command Message \"Volumio Current Song\"\nvar msgvolumiocurrentsong = {};\nvar currentsong = \"\";\n\n// Create the Domoticz message payload.\n// Reference:\n// command=udevice, idx=IDX, nvalue=LEVEL, svalue=TEXT\n// Level = (0=gray, 1=green, 2=yellow, 3=orange, 4=red)\n// TEXT = Text you want to display\n\nif (msg.payload.status == \"error\") {\n    // Set the alert level to 4 with svalue displaying message \"OFF\"\n    msgvolumiostatus.payload = {\"command\": \"udevice\", \"idx\": idxvolumiostatus, \"nvalue\":4, \"svalue\": \"OFF\"};\n    msgvolumiocurrentsong.payload = {};\n    flow.set(\"currentsong\", \"\");\n}\n    \nif (msg.payload.status == \"play\") {\n    // Set the alert level to 1 with svalue displaying message \"PLAY\"\n    msgvolumiostatus.payload = {\"command\": \"udevice\", \"idx\": idxvolumiostatus, \"nvalue\":1, \"svalue\": \"PLAY\"};\n    // Build the current song title - if not service webradio, then add artist\n    currentsong = msg.payload.title;\n    if (msg.payload.service !== \"webradio\") {\n        currentsong = msg.payload.artist + \" ~ \" + msg.payload.title;\n    }\n    msgvolumiocurrentsong.payload = {\"command\": \"udevice\", \"idx\": idxvolumiocurrentsong, \"svalue\": currentsong};\n    flow.set(\"currentsong\", currentsong);\n}\n\nif (msg.payload.status == \"stop\") {\n    // Set the alert level to 2 with svalue displaying message \"STOP\"\n    msgvolumiostatus.payload = {\"command\": \"udevice\", \"idx\": idxvolumiostatus, \"nvalue\":2, \"svalue\": \"STOP\"};\n    msgvolumiocurrentsong.payload = {};\n    flow.set(\"currentsong\", \"\");\n}\n\n// node.warn(flow.get(\"currentsong\"));\n\nreturn [msgvolumiostatus,msgvolumiocurrentsong];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "3f1bdc3c.08f904"
            ],
            [
                "c9a1ae83.bfade"
            ]
        ]
    },
    {
        "id": "a10c1533.83c558",
        "type": "mqtt out",
        "z": "1273bcc9.d90613",
        "name": "Domoticz Update Volumio Status (idx=151)",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1090,
        "y": 280,
        "wires": []
    },
    {
        "id": "3f1bdc3c.08f904",
        "type": "rbe",
        "z": "1273bcc9.d90613",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 810,
        "y": 280,
        "wires": [
            [
                "a10c1533.83c558",
                "a335ba8c.c55208",
                "5b50066e.fc8408"
            ]
        ]
    },
    {
        "id": "f7425264.35f12",
        "type": "mqtt out",
        "z": "1273bcc9.d90613",
        "name": "Domoticz Update Volumio Current Song (idx=144)",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "a335ba8c.c55208",
        "type": "debug",
        "z": "1273bcc9.d90613",
        "name": "Debug Volumio Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1020,
        "y": 160,
        "wires": []
    },
    {
        "id": "c25e5a15.ddd618",
        "type": "switch",
        "z": "1273bcc9.d90613",
        "name": "Check Volumio REST Request Response",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Error",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "status",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 280,
        "wires": [
            [
                "7919d8e9.98ec18"
            ],
            [
                "5950f784.c783e8"
            ]
        ]
    },
    {
        "id": "5950f784.c783e8",
        "type": "json",
        "z": "1273bcc9.d90613",
        "name": "Volumio Response to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "1a1fbb93.3b0694"
            ]
        ]
    },
    {
        "id": "c9a1ae83.bfade",
        "type": "rbe",
        "z": "1273bcc9.d90613",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 810,
        "y": 340,
        "wires": [
            [
                "f7425264.35f12",
                "a335ba8c.c55208",
                "59bebf22.e8f39"
            ]
        ]
    },
    {
        "id": "7919d8e9.98ec18",
        "type": "change",
        "z": "1273bcc9.d90613",
        "name": "Set Volumio Status to Error",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"error\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "1a1fbb93.3b0694"
            ]
        ]
    },
    {
        "id": "59bebf22.e8f39",
        "type": "mqtt out",
        "z": "1273bcc9.d90613",
        "name": "Update Volumio Current Song",
        "topic": "volumiocontrol/currentsong",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1050,
        "y": 400,
        "wires": []
    },
    {
        "id": "5b50066e.fc8408",
        "type": "mqtt out",
        "z": "1273bcc9.d90613",
        "name": "Update Volumio Status",
        "topic": "volumiocontrol/status",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "6f8f9728.8564b8",
        "type": "ping",
        "z": "1273bcc9.d90613",
        "name": "Ping Volumio Server Response",
        "host": "volumio.local",
        "timer": "15",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "ffb7522b.c0112"
            ]
        ]
    },
    {
        "id": "ffb7522b.c0112",
        "type": "switch",
        "z": "1273bcc9.d90613",
        "name": "Switch Volumio Return Response",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "7919d8e9.98ec18"
            ],
            [
                "b11c2afe.404e38"
            ]
        ]
    },
    {
        "id": "f7c80436.a43f2",
        "type": "mqtt-broker",
        "z": "",
        "name": "Domoticz MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]