src/thermostat-dashboard-makelab.flow
[
    {
        "id": "4e9feb40.7dfea4",
        "type": "inject",
        "z": "ea992104.c0dc5",
        "name": "Inject HTTP Request Thermostat MakeLab DataPoints",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "978657d5.d499c"
            ]
        ]
    },
    {
        "id": "978657d5.d499c",
        "type": "http request",
        "z": "ea992104.c0dc5",
        "name": "Send HTTP Request Thermostat MakeLab (1541)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://ccu-ip/config/xmlapi/state.cgi?device_id=1541",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "e6aa098e.0d8318"
            ]
        ]
    },
    {
        "id": "e6aa098e.0d8318",
        "type": "xml",
        "z": "ea992104.c0dc5",
        "name": "Convert XML to JavaScript Object",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "31a438ff.c92028",
                "91ac1e2a.fd8698",
                "e0c43ea5.ee47e",
                "d7a28b28.a08e8",
                "1d0aaf5.1155851"
            ]
        ]
    },
    {
        "id": "31a438ff.c92028",
        "type": "change",
        "z": "ea992104.c0dc5",
        "name": "Datapoint LOW_BAT (1549)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$join([\"Low Battery:\", msg.payload.**[ise_id=\"1549\"].value])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "749967a2.3ed638"
            ]
        ]
    },
    {
        "id": "91ac1e2a.fd8698",
        "type": "change",
        "z": "ea992104.c0dc5",
        "name": "Datapoint OPERATING_VOLTAGE (1553)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.**[ise_id=\"1553\"].value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "749967a2.3ed638"
            ]
        ]
    },
    {
        "id": "e0c43ea5.ee47e",
        "type": "change",
        "z": "ea992104.c0dc5",
        "name": "Datapoint LEVEL (1576)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload.**[ise_id=\"1576\"].value) * 100",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "749967a2.3ed638",
                "dc9194de.2f42e",
                "234c4ee.1a36332"
            ]
        ]
    },
    {
        "id": "749967a2.3ed638",
        "type": "debug",
        "z": "ea992104.c0dc5",
        "name": "DEBUG JSONNATA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 220,
        "wires": []
    },
    {
        "id": "5337b326.4d7d1c",
        "type": "comment",
        "z": "ea992104.c0dc5",
        "name": "RaspMatic XML-API Datapoints",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "d7a28b28.a08e8",
        "type": "change",
        "z": "ea992104.c0dc5",
        "name": "Datapoint ACTUAL_TEMPERATURE (1567)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.**[ise_id=\"1567\"].value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 340,
        "wires": [
            [
                "749967a2.3ed638"
            ]
        ]
    },
    {
        "id": "1d0aaf5.1155851",
        "type": "change",
        "z": "ea992104.c0dc5",
        "name": "Datapoint SET_POINT_TEMPERATURE (1584)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.**[ise_id=\"1584\"].value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 380,
        "wires": [
            [
                "749967a2.3ed638"
            ]
        ]
    },
    {
        "id": "dc9194de.2f42e",
        "type": "ui_gauge",
        "z": "ea992104.c0dc5",
        "name": "",
        "group": "587fa9c9.b929c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Valve Opening",
        "label": "%",
        "format": "{{value}} ",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "234c4ee.1a36332",
        "type": "ui_chart",
        "z": "ea992104.c0dc5",
        "name": "Valve opening",
        "group": "587fa9c9.b929c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 920,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "587fa9c9.b929c8",
        "type": "ui_group",
        "z": "",
        "name": "Thermostat MakeLab",
        "tab": "837ddd8b.929fd8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "837ddd8b.929fd8",
        "type": "ui_tab",
        "z": "",
        "name": "Homematic",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
