src/volumio-control-test-not-used.flow
[
    {
        "id": "d5967c12.86efc",
        "type": "tab",
        "label": "Volumio Tests",
        "disabled": true,
        "info": ""
    },
    {
        "id": "e08b0591.d58fe",
        "type": "inject",
        "z": "d5967c12.86efc",
        "name": "Make Play Request",
        "topic": "",
        "payload": "On",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "2107b1d1.3a0926"
            ]
        ]
    },
    {
        "id": "2107b1d1.3a0926",
        "type": "http request",
        "z": "d5967c12.86efc",
        "name": "Volumio Set Play",
        "method": "GET",
        "ret": "txt",
        "url": "volumio.local/api/v1/commands/?cmd=play",
        "tls": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "7516395f.7ae568"
            ]
        ]
    },
    {
        "id": "7516395f.7ae568",
        "type": "function",
        "z": "d5967c12.86efc",
        "name": "Set Domoticz MQTT Payload",
        "func": "// Create domoticz MQTT command to update \n// the Domoticz Volumio Play Device (type Switch)\nvar idx = 149;\nvar cmd = \"On\";\n\nmsg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": cmd};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 120,
        "wires": [
            [
                "6bb47122.aba5c8"
            ]
        ]
    },
    {
        "id": "6bb47122.aba5c8",
        "type": "mqtt out",
        "z": "d5967c12.86efc",
        "name": "Domoticz Update Play State",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "broker": "f7c80436.a43f2",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "61d27777.5c7f8",
        "type": "inject",
        "z": "d5967c12.86efc",
        "name": "Make Stop Request",
        "topic": "",
        "payload": "Off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "67772efe.ab43"
            ]
        ]
    },
    {
        "id": "67772efe.ab43",
        "type": "http request",
        "z": "d5967c12.86efc",
        "name": "Volumio Set Stop",
        "method": "GET",
        "ret": "txt",
        "url": "volumio.local/api/v1/commands/?cmd=stop",
        "tls": "",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "c969f506.b156f"
            ]
        ]
    },
    {
        "id": "c969f506.b156f",
        "type": "function",
        "z": "d5967c12.86efc",
        "name": "Set Domoticz MQTT Payload",
        "func": "// Create domoticz MQTT command to update \n// the Domoticz Volumio Play Device (type Switch)\nvar idx = 149;\nvar cmd = \"Off\";\n\nmsg.payload = {\"command\": \"switchlight\", \"idx\": idx, \"switchcmd\": cmd};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "6bb47122.aba5c8"
            ]
        ]
    },
    {
        "id": "e04ce5f5.1b24c8",
        "type": "comment",
        "z": "d5967c12.86efc",
        "name": "Volumio Set Status Play or Stop (TEST)",
        "info": "Make Volumio status request using the Volumio REST API.\nCheck if Volumio is playing and update the Domoticz Current Song device.\nIf Volumio status is stop, display message \"Volumio not playing\".\n",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "f7c80436.a43f2",
        "type": "mqtt-broker",
        "z": "",
        "name": "Domoticz MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]